{% macro to_name(numerical_month) %}
	{{ [
		'January',
		'February',
		'March',
		'April',
		'May',
		'June',
		'July',
		'August',
		'September',
		'October',
		'November',
		'December'
	][numerical_month - 1] }}
{% endmacro %}
