footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

footer > * {
	margin: 0.25em 1em;
}

footer a {
	color: var(--blue-strong);
	text-decoration: none;
}
